
.header {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 293px;
  padding: 92px 50px 96px 50px;
}

.header__menu {
  margin-right: auto;
}

.header__links-list {
  display: flex;
  list-style: circle;
}

.header__links-list-item {
  margin-right: 32px;
}

.header__links-list-item:last-of-type {
  margin-right: 0;
}

.header__link {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  text-underline-offset: 4px;
  white-space: nowrap;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  position: absolute;
  right: 45vw;
  display: block;
  box-sizing: border-box;
  width: 148px;
  height: 105px;
}

.header__address {
  justify-self: flex-end;
}

.address {
  display: flex;
  flex-direction: column;
  width: 250px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.address a {
  text-underline-offset: 4px;
}

.address p {
  min-width: 240px;
}

.cover {
  position: relative;
  z-index: 0;
  padding: 165px 50px 50px 50px;
  background-image: url('../images/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000;
}

.cover__title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 135px;
  color: #FFF;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.cover__title span {
  display: inline-flex;
  align-items: center;
  height: 100px;
}

.cover__title span:first-of-type {
  height: 115px;
}

.letter-spacing {
  letter-spacing: 60px;
}

.letter-spacing-zero {
  letter-spacing: 0;
}

.aligned-text {
  align-self: flex-start;
}

.aligned-text-center {
  align-self: center;
}

.aligned-text-right {
  align-self: flex-end;
}

.cover__description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #FFF;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
}

.cover__description-text {
  margin-right: 78px;
  word-spacing: 18px;
}

.bet-button {
  box-sizing: border-box;
  border: 1px solid #FFF;
  padding: 12px 32px;
  color: #FFF;
  font-family: Raleway;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  padding: 180px 50px 181px 50px;
}

.lots__heading {
  display: block;
  margin-bottom: 27px;
  margin-left: 40px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
  list-style: none;
}

.lots__card-list-item {
  width: 430px;
  height: 450px;
}

.lots__card-list-item:last-of-type {
  flex-grow: 1;
  height: 450px;
}

.card-link {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 50px 38px;
}

.card_type_film {
  position: relative;
  z-index: 0;
  background-image: url('../images/card-lot-01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_book {
  position: relative;
  z-index: 0;
  background-image: url('../images/card-lot-02.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_picture {
  position: relative;
  z-index: 0;
  background-image: url('../images/card-lot-03.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.card__title {
  color: #FFF;
  font-weight: 700;
  font-size: 22px;
  text-decoration-line: underline;
  text-underline-offset: 4px;
  text-transform: uppercase;
}

.card__text {
  color: #FFF;
  font-weight: 400;
  font-size: 20px;
}

.lots__look-more-link {
  margin-left: 40px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  text-underline-offset: 4px;
}

.about {
  display: grid;
  grid-template-columns: 430px 885px;
  grid-template-rows: 240px;
  grid-template-areas: 
  'logo title'
  'logo text';
  gap: 8px 25px;
  padding: 0 50px 180px 50px;
}

.about__title {
  display: block;
  grid-area: title;
  margin: 100px 0;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  grid-area: text;
  gap: 25px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
}

.about__logo {
  grid-area: logo;
  width: 240px;
  height: 240px;
  margin: 0 95px;
  border-radius: 50%;
  background-color:#000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  margin: 63px 46px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 50px 90px 50px;
}

.footer__menu-list {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  list-style: none;
}

.footer__menu-link {
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
  height: 48px;
  list-style: none;
}

.footer__social-icon {
  display: block;
  width: 48px;
  height: 48px;
}

.footer__social-icon-yt {
  background-image: url(../images/yt.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__social-icon-vk {
  background-image: url(../images/vk.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__social-icon-pt {
  background-image: url(../images/pinterest.svg);
  background-repeat: no-repeat;
  background-size: cover;
}